<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.nzol.javelin2"
        versionCode = "2.0.0.1" 
        version     = "2.0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Javelin</name>

    <description>
        Javelin Portable Documents 
    </description>

    <author href="https://twitter.com/TechReportNZ" email="jordan@nzol.info">
        Jordan Smith
    </author>

    <plugin name="cordova-plugin-whitelist" />

    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />

    <allow-intent href="http://bagsed-it.com" />
    <access origin="http://bagsed-it.com" />

</widget>